<br>
<br>
<br>
<div class= "article">
<h1> editing on your article</h1></div>
<div class= "article">
<%= render 'form', article: @article %>
</div><div class= "article">
<%= link_to 'Show', @article , class:"btn btn-outline-secondary"%> 
<%= link_to 'Back', articles_path, class:"btn btn-outline-secondary" %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
