<h1>Articles#edit</h1>
<p>Find me in app/views/articles/edit.html.erb</p>

<h1> editing on your article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>

