<br>
<br>
<br>



<%= form_for :image, url:{action: "create"} do |f| %>
 <div class= "article">

  <div class="field">
    <%= f.label :img %>
    <%= f.text_field :img %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
